 .u-section-1 {
  background-image: url("images/az.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 623px;
}

.u-section-1 .u-image-1 {
  width: 426px;
  height: 426px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 58px 77px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-align: justify;
  font-weight: 700;
  margin: -408px 590px 0 40px;
}

.u-section-1 .u-text-2 {
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 48px 590px 0 40px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  margin: 16px auto 60px 40px;
  padding: 15px 54px 17px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 90px;
    margin-right: -35px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    animation-timing-function: ease-in-out;
    margin-top: -415px;
    margin-right: 401px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 39px;
    margin-right: 401px;
    margin-left: 29px;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 29px;
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 79px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -403px;
    margin-right: 210px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 360px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_y: 300px;
    margin-bottom: 35px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-image-1 {
    width: 183px;
    height: 183px;
    margin-top: 16px;
    margin-right: -39px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -129px;
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-left: auto;
    margin-bottom: 49px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 824px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 58px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 657px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-position: 50% 50%;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-2 .u-icon-1 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-position: 50% 50%;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 27px;
}

.u-section-2 .u-icon-2 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-position: 50% 50%;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 27px;
}

.u-section-2 .u-icon-3 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-position: 50% 50%;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 27px;
}

.u-section-2 .u-icon-4 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-position: 50% 50%;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 27px;
}

.u-section-2 .u-icon-5 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-2 .u-text-10 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-2 .u-list-item-6 {
  background-position: 50% 50%;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 30px 27px;
}

.u-section-2 .u-icon-6 {
  width: 122px;
  height: 122px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 34px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-2 .u-text-12 {
  line-height: 1.64;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 541px;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 23px 20px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 49px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-right: 25px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 23px 20px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 49px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 28px;
    margin-right: 25px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-list-item-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 23px 20px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 49px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 28px;
    margin-right: 25px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-list-item-4 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 23px 20px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 49px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 28px;
    margin-right: 25px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-list-item-5 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 23px 20px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 49px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 28px;
    margin-right: 25px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-list-item-6 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 23px 20px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 49px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 28px;
    margin-right: 25px;
    margin-left: 48px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 962px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 15px 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 24px;
    margin-right: -181px;
    margin-left: 201px;
  }

  .u-section-2 .u-text-2 {
    margin: 32px -30px -8px 50px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 15px 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 24px;
    margin-right: -181px;
    margin-left: 201px;
  }

  .u-section-2 .u-text-4 {
    margin: 32px -30px -8px 50px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 15px 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 24px;
    margin-right: -181px;
    margin-left: 201px;
  }

  .u-section-2 .u-text-6 {
    margin: 32px -30px -8px 50px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 15px 0;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: 24px;
    margin-right: -181px;
    margin-left: 201px;
  }

  .u-section-2 .u-text-8 {
    margin: 32px -30px -8px 50px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 15px 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    margin-top: 24px;
    margin-right: -181px;
    margin-left: 201px;
  }

  .u-section-2 .u-text-10 {
    margin: 32px -30px -8px 50px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 15px 0;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-2 .u-text-11 {
    margin-top: 24px;
    margin-right: -181px;
    margin-left: 201px;
  }

  .u-section-2 .u-text-12 {
    margin: 32px -30px -8px 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-icon-1 {
    margin-left: 99px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 19px;
    margin-right: -72px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 99px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 19px;
    margin-right: -72px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 99px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 19px;
    margin-right: -72px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 99px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 19px;
    margin-right: -72px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 99px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 19px;
    margin-right: -72px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 99px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 19px;
    margin-right: -72px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 830px;
}

.u-section-3 .u-group-1 {
  width: 622px;
  min-height: 552px;
  height: auto;
  margin: 60px auto 0 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 179px -15px 0 75px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2.2;
  margin: 13px -15px 0 75px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 31px auto 0 75px;
  padding: 17px 118px 18px 117px;
}

.u-section-3 .u-list-1 {
  width: 505px;
  margin: -552px 0 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 552px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 75px auto 0 30px;
}

.u-section-3 .u-text-3 {
  margin: 13px 30px 0;
}

.u-section-3 .u-text-4 {
  background-image: none;
  font-weight: normal;
  margin: 13px 122px 0 30px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-icon-2 {
  height: 33px;
  width: 33px;
  background-image: none;
  margin: 75px auto 0 30px;
}

.u-section-3 .u-text-5 {
  margin: 13px 30px 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  background-image: none;
  margin: 13px 122px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 103px;
    margin-right: 127px;
    margin-left: -33px;
  }

  .u-section-3 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 30px;
    margin-right: 127px;
    margin-left: -33px;
  }

  .u-section-3 .u-btn-1 {
    border-style: solid;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 49px;
    margin-left: -33px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 108px;
    margin-left: -14px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 315px;
    margin-left: -14px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 53px;
    margin-left: -14px;
  }

  .u-section-3 .u-list-1 {
    width: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 67px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 289px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 41px;
    margin-left: -21px;
  }

  .u-section-3 .u-list-1 {
    width: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 0;
    margin-right: -23px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 19px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: -57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-icon-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-text-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-text-4 {
    font-weight: 700;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-icon-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-text-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-text-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 600px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px 290px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 460px 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 56px auto 21px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 339px;
  grid-gap: 20px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-4 .u-group-1 {
  width: 230px;
  min-height: 217px;
  height: auto;
  background-image: none;
  margin: 7px 97px 0 20px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 2px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 39px 1px 0 33px;
}

.u-section-4 .u-text-4 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 39px 0 0 40px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-4 .u-group-2 {
  width: 230px;
  min-height: 217px;
  height: auto;
  background-image: none;
  margin: 7px 97px 0 20px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 2px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 39px 1px 0 33px;
}

.u-section-4 .u-text-6 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 39px 0 0 40px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-4 .u-group-3 {
  width: 230px;
  min-height: 217px;
  height: auto;
  background-image: none;
  margin: 7px 97px 0 20px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 2px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 39px 1px 0 33px;
}

.u-section-4 .u-text-8 {
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: none;
  margin: 39px 0 0 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 90px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 260px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 277px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-1 {
    margin-right: 107px;
    margin-left: 30px;
    height: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: -24px;
    margin-left: 44px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-2 {
    margin-right: 107px;
    margin-left: 30px;
    height: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: -24px;
    margin-left: 44px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-3 {
    margin-right: 107px;
    margin-left: 30px;
    height: auto;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: -24px;
    margin-left: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 40px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 666px;
  }

  .u-section-4 .u-text-4 {
    margin-right: -43px;
    margin-left: 43px;
  }

  .u-section-4 .u-text-6 {
    margin-right: -43px;
    margin-left: 43px;
  }

  .u-section-4 .u-text-8 {
    margin-right: -43px;
    margin-left: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: -105px;
    margin-left: 105px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: -76px;
    margin-left: 76px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-group-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 46px;
    margin-right: -181px;
    margin-left: 181px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: 46px;
    margin-right: -181px;
    margin-left: 181px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-8 {
    margin-top: 46px;
    margin-right: -181px;
    margin-left: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: -37px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 23px;
    margin-right: -23px;
    margin-left: 23px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 53px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: -19px;
    margin-left: 57px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 34px;
    margin-right: -60px;
    margin-left: 80px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-right: -19px;
    margin-left: 57px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 34px;
    margin-right: -60px;
    margin-left: 80px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-right: -19px;
    margin-left: 57px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 34px;
    margin-right: -60px;
    margin-left: 80px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/az.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 698px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-form-1 {
  height: 502px;
  margin: 0 45px 0 16px;
}

.u-section-5 .u-label-1 {
  font-weight: 700;
}

.u-section-5 .u-label-2 {
  font-weight: 700;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-label-3 {
  font-weight: 700;
}

.u-section-5 .u-label-4 {
  font-weight: 700;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 98px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
}